apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    {{- include "woocommerce-store.labels" . | nindent 4 }}
    app: mysql
spec:
  type: ClusterIP
  ports:
    - port: 3306
      targetPort: 3306
  selector:
    app: mysql
