apiVersion: v1
kind: Service
metadata:
  name: wordpress
  labels:
    {{- include "woocommerce-store.labels" . | nindent 4 }}
    app: wordpress
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: wordpress
